<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fortune Teller</title>
  </head>

  <body>
    <h1>Fortune Teller!</h1>

    <p>Your fortune is: <span id="fortune"><%= fortune %></span></p>

    <button id="new-fortune">New Fortune!</button>

    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="/js/fortune.js"></script>
  </body>
</html>
