<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Random Brussels Sprouts Generator</title>
    <link rel="stylesheet" href="/stylesheets/vendor/normalize.css" />
    <link rel="stylesheet" href="/stylesheets/vendor/foundation.min.css" />
    <link rel="stylesheet" href="/stylesheets/vendor/font-awesome.css" />
    <link rel="stylesheet" href="/stylesheets/app.css" />
  </head>
  <body>
    <%= yield %>

    <script src="/javascripts/vendor/jquery-1.11.1.min.js"></script>
    <script src="/javascripts/app.js"></script>
  </body>
</html>
