<div class="row">
  <div class="medium-2 columns">
    <ul class="side-nav">
      <li><a href="/">Home</a></li>
      <li><a href="#">New Releases</a></li>
      <li><a href="#">Horror</a></li>
      <li><a href="#">Action</a></li>
      <li><a href="#">Drama</a></li>
    </ul>
  </div>

  <div class="medium-10 columns">
    <% @movies.each do |movie| %>
      <div class="movie">
        <h1><%= link_to movie.title, movie %></h1>
        <h3><%= movie.year %></h3>
        <p><%= image_tag movie.image, height: 300, width: 300 %></p>
        <p><%= movie.description %></p>
      </div>
      <hr />
    <% end %>
  </div>
</div>
